input[type="checkbox"] {
    display: none;
    transition: 300ms;
}

.pill-checkbox-label {
    position: relative;
    display: block;

    background-color: rgb(121, 144, 152);

    width: 60px;
    height: 30px;
    margin: 0 auto;

    border-radius: 100vh;
}

.pill-checkbox-label::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;

    width: 50%;
    height: 100%;
    scale: 85%;

    background-color: darkseagreen;
    border-radius: 50%;

    transition: translate 400ms ease-in-out;
}

#pill-checkbox:checked+.pill-checkbox-label::after {
    translate: 100%;
}