.main-content, .main-content > .full-width {
    --min-padding: 2rem;
    --max-width: 900px;

    display: grid;
    grid-template-columns: 
        minmax(var(--min-padding), 1fr) 
        minmax(auto, var(--max-width))
        minmax(var(--min-padding), 1fr);
}

.main-content > * {
    grid-column: 2;
}

.main-content > .full-width {
    grid-column: 1 / -1;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-wrapper main {
    flex-grow: 1;
}

.container {
    padding: 1em;
}