*, *::before, *::after {
    box-sizing: border-box;
}

html {
    color-scheme: light dark;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

img, video, picture, svg, canvas {
    max-width: 100%;
}

ul, ol {
    padding: 0;
    list-style: none;
}

input, textarea, button, select {
    max-width: 100%;
    min-width: 0;
    font-family: inherit;
}